@model Transaction

@{
    ViewData["Title"] = "Confirm Transaction";
}

<h1>Confirm Transaction</h1>

<p>Are you sure you want to follow through with the following transaction?</p>

<dl class="row">
    <dt class="col-sm-2">Transaction Type:</dt>
    <dd class="col-sm-10">@Model.TransactionType</dd>

    <dt class="col-sm-2">Account Number:</dt>
    <dd class="col-sm-10">@Model.AccountNumber</dd>

    <dt class="col-sm-2">Destination Account:</dt>
    <dd class="col-sm-10">@Model.DestinationAccountNumber</dd>

    <dt class="col-sm-2">Amount:</dt>
    <dd class="col-sm-10">@Model.Amount</dd>

    <dt class="col-sm-2">Comment:</dt>
    <dd class="col-sm-10">@Model.Comment</dd>

    <dt class="col-sm-2">Transaction Time:</dt>
    <dd class="col-sm-10">@Model.TransactionTimeUtc.ToLocalTime()</dd>
</dl>

<form asp-action="ConfirmTransaction">
    <button type="submit" class="btn btn-danger">Confirm</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>